{
    "extends": "airbnb",
    "rules": {
        "linebreak-style": 0,
        "indent": ["error", 4],
        "react/jsx-indent": ["error", 4],
        "react/jsx-indent-props": ["error", 4],
        "react/prop-types": [2, { "ignore": ["children"] }]
    }
}