.container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height:100vh;
}

.container__form {
    display: flex;
    align-items: center;
    justify-content:center;
}

.container__button {
    min-height: 56px;
    border-radius: 0px 4px 4px 0px;
}